// color
$blue: #3C97FF;
$l-blue: #2DFAFF;
$green: #02B099;
$l-green: #95C93E;
$sv: #4F55C9;
$l-sv: #8E93FB;
$v: #8262D1;
$l-v: #B07AEA;
$btn-bg: #DBECFF; 
$sec-bg: #F6FBFD;
$d-color: #191c1e;
$g-color: #a0a6ad;
$border-c: #ececec;
$field-c: #495057;
$white: #fff;

//
$family: 'Roboto',sans-serif;
$h-family: 'Poppins',sans-serif;
